body {
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 0;
}

.display-3 {
    font-size: 4em;
}

.jumbotron {
    margin-top: 30px;
    padding: 2em;
    background: #17a2b8;
}

.card {
    margin-top: 20px;
}

.btn-success {
    margin: 5px;
    background: #8DCED8;
    border: 0;
}

.btn-success:hover, .btn-success:active {
    background: #17a2b8;
    border: 0;
}

#start-button {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
    .display-3 {
        font-size: 2.5em;
    }
}

.info {
    padding: 20px;
}